body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #add8e6;
  color: #132f46;
}

.navbar {
  background-color: #2c5f2d;
  overflow: hidden;
}

.navbar a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 14px 20px;
  color: white;
}

.navbar a:hover {
  background-color: white;
  color: black;
}

.navbar .logo {
  font-size: 20px;
  font-weight: bold;
  float: left;
}

.navbar .nav-item {
  float: right;
}
